

<nav>
        <ul id="nav">
            <li><a href="/"><i class="fas fa-lg fa-laptop-house"></i>Home</a></li>
            <li><a href="/aboutme"><i class="fas fa-info-circle"></i>About Me</a></li>
            <li> <a href="/projects"><i class="fas fa-project-diagram"></i>Projects</a></li>
            <li><a href="/service"><i class="fa fa-cog fa-spin fa-fw">></i> Service</a></li>
            <li><a href="/contactme"><i class="fas fa-address-book"></i> Contact Me</a></li>
            <li><a href="/login"><i class="fas fa-sign-in-alt"></i>Log-in</a></li>
            <li><a href="/contacts-list"><i class="far fa-address-card"></i> Business-contact-list</a></li>
         </ul>
    </nav>
   
    